basePath: /
host: localhost:8080
info:
  contact:
    email: faisalamrdn@gmail.com
    name: API Support
  description: A simple and efficient To-Do application API built with Go and Gin
    framework
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: YouDo API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
